<div ng-class="{'embedded-in-companion-app': isEmbeddedInCompanionApp()}">
    <div class="navigator-content-container">
        <div class="navigator-search-box-container">
            <input ng-model="queryText"
                   ng-change="onQueryChange()"
                   class="navigator-search-box"
                   autocomplete="off"
                   type="text"
                   placeholder="start typing to search in tabs"/>
            <input class="navigator-search-box-type-ahead"
                   autocomplete="off"
                   type="text"
                   placeholder=""/>
        </div>
        <div class="navigator-list-container">
            <div class="navigator-list" ng-style="getGridStyle()">
                <div ng-repeat="navigatorItem in navigatorItems track by getTrackingIdForItem(navigatorItem)"
                     navigator-item
                     item="navigatorItem"
                     navigator-item-id="{{navigatorItem.itemGuid}}"
                     ng-click="onNavigatorItemClick($event, $index)"
                     class="navigator-item"
                     ng-class="{
                         'highlighted-item': isHighlightedItem($index),
                         'tab-item': isNavigatorItemTab(navigatorItem),
                         'browsing-history-item': isNavigatorItemBrowsingHistory(navigatorItem)
                     }"
                     ng-style="getItemStyle($index)"></div>
            </div>
            <div ng-if="!!navigatorItems && navigatorItems.length === 0"
                 class="navigator-list-empty-message">
                No matches found. Please try another query.
            </div>
        </div>

    </div>
</div>