<div class="navigator-item-content" title="{{navigatorItem.title || navigatorItem.url}}">
    <hr class="highlighted-item-bar"/>
    <div class="navigator-item-top-bar"
         ng-show="$parent.shouldAllowItemRemoval(navigatorItem)">
        <div class="navigator-item-top-bar-content">
            <span class="navigator-tab-close-button"
                  ng-click="$parent.removeItem($event, navigatorItem)">✕</span>
        </div>
    </div>
    <div class="navigator-item-thumb-container">
        <img preview-image
             image-url="{{navigatorItem.imageURL}}"
             class="navigator-item-thumb"
             src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
    </div>
    <div class="navigator-item-title-container">
        <span favicon favicon-url="navigatorItem.faviconURL" class="navigator-item-favicon"></span>
        <span class="navigator-item-title">{{navigatorItem.title || navigatorItem.url}}</span>
    </div>
</div>
