html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.navigator-content-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}