iframe#e458870c-06b6-4f0f-b757-7b0bef88a036 {
    position: fixed;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: none;
}