@font-face {
    font-family: lato-thin;
    src: url(../fonts/Lato-Thin.ttf);
}

@font-face {
    font-family: lato-light;
    src: url(../fonts/Lato-Light.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-family: lato,Georgia,Cambria,"Times New Roman",Times,serif ;
}

.content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%
}

.content .background-image {
    max-width: 100%;
}

.content .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
}

.content .overlay .reload-button {
    display: inline-block;
    transform: translateY(-50%);
    font-size: 2em;
    padding: 0.85em 1.2em;
    border-radius: 1.3em;
    color: white;
    background-color: rgba(128, 128, 128, 0.45);
    cursor: pointer;
    font-family: 'lato-thin';
}

.content .overlay .source-link-container {
    display: none;
}

.content .overlay .source-link-container[hidden=false] {
    display: inline-block;
}

.content .overlay .source-link-container .source-link {
    max-width: 30em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: whitesmoke;
    font-size: 1.1em;
}