/* Begin: angular-csp.css */
/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-block-transitions {
    transition:0s all!important;
    -webkit-transition:0s all!important;
}

/* show the element during a show/hide animation when the
 * animation is ongoing, but the .ng-hide class is active */
.ng-hide-add-active, .ng-hide-remove {
    display: block!important;
}
/* End: angular-csp.css */

@font-face {
    font-family: lato-thin;
    src: url(../fonts/Lato-Thin.ttf);
}

@font-face {
    font-family: lato-light;
    src: url(../fonts/Lato-Light.ttf);
}

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: lato,Georgia,Cambria,"Times New Roman",Times,serif ;
}

.tn-navigator {
    width: 100%;
    height: 100%;
}

.tn-navigator .navigator {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none !important;
}

.tn-navigator .navigator-content-container {
    width: 80%;
    height: 60%;
    margin-top: -10%;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, .09);
    outline: none !important;
    padding: 20px;
}

.tn-navigator .embedded-in-companion-app .navigator-content-container {
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

/*TODO: use backdrop-filters when avialable/
/*.tn-navigator .navigator-content-container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(25px);
}*/

.tn-navigator .navigator-item-thumb-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tn-navigator .navigator-list-container {
    position: relative;
    overflow: auto;
    max-height: calc(85% - 10px);
    /*padding: 20px;*/
}

.tn-navigator .navigator-list {
}

.tn-navigator .navigator-list-container .navigator-list-empty-message {
    margin-top: 10%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px #000;
    font-size: 1.5em;
    font-family: 'lato-light';
}

.tn-navigator .navigator-item {
    display: inherit;
    position: absolute;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 7px 15px 1px #000;
    cursor: pointer;
}

.tn-navigator .navigator-item.ng-enter,
.tn-navigator .navigator-item.ng-leave {
    transition: all 0.15s linear 0s, font-size 1ms;
}

.tn-navigator .navigator-item.ng-enter,
.tn-navigator .navigator-item.ng-leave.ng-leave-active {
    scale: 0;
}

.tn-navigator .navigator-item.highlighted-item {
    transform: translate3d(0,0,0) scale(1.2, 1.2);
    z-index: 1;
    transition: all 0.15s linear 0s, font-size 1ms;
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 1.0);
    font-size: 0.83em;
}

.tn-navigator .navigator-item .highlighted-item-bar {
    display: none;
}

.tn-navigator .navigator-item.highlighted-item .highlighted-item-bar {
    display: block;
    position: absolute;
    top: -7px;
    right: 0;
    left: 0;
    padding: 0;
    border: 0;
    background-color: rgba(227, 66, 52, 0.75);
    height: 2px;
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.25);
}

.tn-navigator .navigator-item .navigator-item-top-bar {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 1.8em;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.1s linear 0.4s;
    cursor: default;
}

.tn-navigator .navigator-item.tab-item .navigator-item-top-bar {
    display: flex;
}

.navigator-item-top-bar .navigator-item-top-bar-content {
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 2px 5px;
}

.tn-navigator .navigator-item .navigator-tab-close-button {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    color: white;
    cursor: pointer;
}

.tn-navigator .navigator-item:hover .navigator-item-top-bar {
    opacity: 1;
}

.tn-navigator .navigator-item .history-item-icon {
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 1;
}

.tn-navigator .navigator-item .history-item-icon img {
    width: 100%;
    height: 100%;
}

.tn-navigator .navigator-item.browsing-history-item .history-item-icon {
    display: block;
}

.tn-navigator .navigator-item .navigator-item-content {
    height: 100%;
}

.tn-navigator .navigator-item.highlighted-navigator-item {
    z-index: 1;
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, .35);
    position: absolute;
    display: block;
    transition: all 0.3s ease 0s;
}

.tn-navigator .navigator-item.highlighted-navigator-item.transition-enabled {
    transform: rotate(0.001deg) translate3d(0,0,0) scale(2.75, 2.75);
}

.tn-navigator .navigator-item-thumb {
    max-width: 100%;
    height: auto;
    width: auto;
    opacity: 0.9;
}

.tn-navigator .navigator-item-title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: justify;
    background-color: rgba(0,0,0,0.75);
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tn-navigator .navigator-item.highlighted-navigator-item .navigator-item-title-container {
    font-size: 5px;
}

.tn-navigator .navigator-item-title {
    margin: 0 5px;
    font-family: 'lato-light';
    font-weight: bold;
}

.tn-navigator .navigator-item-favicon {
    display: inline-block;
    margin-left: 4px;
    margin-top: 2px;
    overflow: hidden;
    vertical-align: middle;
}

.tn-navigator .navigator-item-favicon img {
    height: 1em;
}

.tn-navigator .navigator-item .scaled-preview-image {
    /*width: 1000px;*/
}

.tn-navigator .navigator-search-box-container {
    padding: 0 10px 20px 10px;
    position: relative;
    height: 10%;
}

.tn-navigator input {
    position: absolute;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 1.8em;
    padding: 0.25em 0.25em 0.25em 0.5em;
    font-family: 'lato-thin';
    font-weight: bold;
    border: 0;
    outline: none;
}

.tn-navigator .navigator-search-box-type-ahead {
    z-index: 1;
    color: #bfbfbf;
}

.tn-navigator .navigator-search-box {
    z-index: 2;
    background: transparent;
}

.tn-navigator .navigator-search-box:focus {
    outline: none;
}

.tn-navigator .navigator-search-box:before {
    content: 'a long string that goes on and on';
}